<div class="container-fluid color-background-login w-100 h-100">
  <div class="row">
    <img src="../../assets/image/logo-sa.png" alt="logo-sa" class="img-fluid float-left ml-5 mt-3 w-15 h-15">
  </div>
  <div class="row">
    <div class="col-6 mt-5">
      <h1 class="ml-3 mat-h2 color-sa-login font-login">Bienvenue sur <span class="bg-warning">MySA</span> la plateforme
        en ligne <br/>de la #1 école de codage gratuite du Sénégal !</h1>
      <div class="row text-center pl-2">
        <img src="../../assets/image/web_developper.svg" alt="login-bg-img" class="w-75 h-75 mt-5">
      </div>
    </div>
    <div class="col-6 d-flex justify-content-center">
      <div class="bg-white w-75 h-100 login-box shadow">
        <h2 class="m-5 border-bottom">Connexion</h2>
        <div class="row">
          <div class="col-12 w-100 text-center">
            <app-login-form></app-login-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
