<div class="container-fluid color-background-sonatel">
  <div class="row">
    <div class="col-3">
      <h2>Coding for a better life</h2>
    </div>
    <div class="col-6 text-center mt-2">
      <img src="../../assets/image/logo-sa.png" alt="logo-sa" class="ml-2 w-15 h-25">
    </div>
    <div class="col-3">
      <h4>Plateforme de gestion des apprenants</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-6 border">
      hello
    </div>
    <div class="col-6 border">
      test
    </div>
  </div>
</div>
